nav{
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: transparent;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.nav--logo--wide{
    height: 14px;
    margin: 30px 0px 0px 40px;
}

.nav--menu--mid{
    margin: 20px 0px 0px 0px;
    width: auto;
    text-align: center;
    padding: 6px;
}

.nav--menu--rig{
    right: 0px;
    margin: 20px 40px 0px 0px;
    width: auto;
    text-align: center;
    padding: 6px;
}

.nav--Item{
    margin: 0px 16px 0px 16px ;
}